@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <p>Exercício 1</p>
    @{
        double custoFab, custoFinal, percentDist, percentImp, valorDist, valorImp;

        custoFab = 100000.0;

        percentDist = 28.0 / 100.0;
        percentImp = 45.0 / 100.0;

        valorDist = (percentDist * custoFab);
        valorImp = (percentImp * custoFab);

        custoFinal = custoFab + (percentDist * custoFab) + (percentImp * custoFab);

    }
    <p>Custo de fábrica do veículo: @custoFab.ToString("C")</p>
    <p>Porcentagem do distribuídor: 28% - @valorDist.ToString("C")</p>
    <p>Impostos: 45% - @valorImp.ToString("C")</p>
    <p>Custo Final: @custoFinal.ToString("C")</p>
    <hr />

    <p>Exercício 2</p>

    @{
        double hrsPadrao, hrsTrabalhadas, hrsExtra, valorHrs, percentExtra, salario, salarioTotal, valorExtra;

        hrsPadrao = 160.0;
        hrsTrabalhadas = 200.0;
        hrsExtra = hrsTrabalhadas - hrsPadrao;
        valorHrs = 18.0;
        percentExtra = 50.0 / 100.0;
        salario = hrsPadrao * valorHrs;
        valorExtra = valorHrs + (percentExtra * valorHrs);

        if (hrsTrabalhadas > hrsPadrao)
        {
            salarioTotal = salario + (hrsExtra * valorExtra);
        }
        else
        {
            salarioTotal = salario;
        }
    }

    <p>Jornada padrão mensal: @hrsPadrao Horas</p>
    <p>Valor da hora trabalhada: @valorHrs.ToString("C")</p>
    <p>Valor da hora extra: @valorExtra.ToString("C")</p>
    <p>Horas totais trabalhadas: @hrsTrabalhadas Horas</p>
    <p>Salário padrão: @salario.ToString("C")</p>
    <p>Salário total: @salarioTotal.ToString("C")</p>

    <hr />

    <p>Exercício 3</p>

    @{
        string conta, mensagem;
        double saldo, saldoAtual, debito, credito;

        conta = "CC-12345";
        saldo = 150.0;
        credito = salarioTotal;
        debito = 750.0;
        saldoAtual = saldo + credito - debito;

        if (saldoAtual > 0)
        {
            mensagem = "Saldo positivo !!";
        }
        else
        {
            mensagem = "Saldo negativo !";
        }
    }

    <p>Número da conta: @conta</p>
    <p>Saldo anterior: @saldo.ToString("C")</p>
    <p>Crédito de sálario: @credito.ToString("C")</p>
    <p>Pagamento de boleto: - @debito.ToString("C")</p>
    <p>Saldo atual: @saldoAtual.ToString("C")</p>
    <p> @mensagem </p>

    
</div>
